.login-container h1 {
  color: #cccccc;
}



.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #272822;
  height: 100vh;
}

.btn {
  width: 200px;
  border-radius: 5px;
}

.btn-github {
  background-color: #444444;
  color: white;
  text-decoration: none;
}

.fa-github {
  border-right: solid 1px black;
  padding: 10px;

}